<?xml version="1.0" encoding="utf-8"?>
<ClientSettings>
	<SensorsSetting>
		<SensorName>TEMPERATURE</SensorName>
		<MinimumLevel>Warning</MinimumLevel>
		<MaximumLevel>Minor</MaximumLevel>
		<MaximumThresholdLevel>Major</MaximumThresholdLevel>
		<MinimumThresholdLevel>Major</MinimumThresholdLevel>
	</SensorsSetting>
	<SensorsSetting>
		<SensorName>HUMIDITY</SensorName>
		<MinimumLevel>Warning</MinimumLevel>
		<MaximumLevel>Minor</MaximumLevel>
		<MaximumThresholdLevel>Minor</MaximumThresholdLevel>
		<MinimumThresholdLevel>Minor</MinimumThresholdLevel>
	</SensorsSetting>
	<SensorsSetting>
		<SensorName>ACVOLTAGE</SensorName>
		<MinimumLevel>Minor</MinimumLevel>
		<MaximumLevel>Major</MaximumLevel>
		<MaximumThresholdLevel>Major</MaximumThresholdLevel>
		<MinimumThresholdLevel>Warning</MinimumThresholdLevel>
	</SensorsSetting>
	<SensorsSetting>
		<SensorName>ACVOLTAGE1</SensorName>
		<MinimumLevel>Warning</MinimumLevel>
		<MaximumLevel>Minor</MaximumLevel>
		<MaximumThresholdLevel>Disable</MaximumThresholdLevel>
		<MinimumThresholdLevel>Warning</MinimumThresholdLevel>
	</SensorsSetting>
	<SensorsSetting>
		<SensorName>ACVOLTAGE2</SensorName>
		<MinimumLevel>Disable</MinimumLevel>
		<MaximumLevel>Disable</MaximumLevel>
		<MaximumThresholdLevel>Disable</MaximumThresholdLevel>
		<MinimumThresholdLevel>Disable</MinimumThresholdLevel>
	</SensorsSetting>
	<SensorsSetting>
		<SensorName>ACVOLTAGE3</SensorName>
		<MinimumLevel>Disable</MinimumLevel>
		<MaximumLevel>Disable</MaximumLevel>
		<MaximumThresholdLevel>Disable</MaximumThresholdLevel>
		<MinimumThresholdLevel>Disable</MinimumThresholdLevel>
	</SensorsSetting>
	<SensorsSetting>
		<SensorName>ACAMPERE</SensorName>
		<MinimumLevel>Minor</MinimumLevel>
		<MaximumLevel>Minor</MaximumLevel>
		<MaximumThresholdLevel>Disable</MaximumThresholdLevel>
		<MinimumThresholdLevel>Disable</MinimumThresholdLevel>
	</SensorsSetting>
	<SensorsSetting>
		<SensorName>ACAMPERE1</SensorName>
		<MinimumLevel>Disable</MinimumLevel>
		<MaximumLevel>Disable</MaximumLevel>
		<MaximumThresholdLevel>Disable</MaximumThresholdLevel>
		<MinimumThresholdLevel>Disable</MinimumThresholdLevel>
	</SensorsSetting>
	<SensorsSetting>
		<SensorName>ACAMPERE2</SensorName>
		<MinimumLevel>Disable</MinimumLevel>
		<MaximumLevel>Disable</MaximumLevel>
		<MaximumThresholdLevel>Disable</MaximumThresholdLevel>
		<MinimumThresholdLevel>Disable</MinimumThresholdLevel>
	</SensorsSetting>
	<SensorsSetting>
		<SensorName>ACAMPERE3</SensorName>
		<MinimumLevel>Disable</MinimumLevel>
		<MaximumLevel>Disable</MaximumLevel>
		<MaximumThresholdLevel>Disable</MaximumThresholdLevel>
		<MinimumThresholdLevel>Disable</MinimumThresholdLevel>
	</SensorsSetting>
	<SensorsSetting>
		<SensorName>DCVOLTAGE</SensorName>
		<MinimumLevel>Minor</MinimumLevel>
		<MaximumLevel>Disable</MaximumLevel>
		<MaximumThresholdLevel>Disable</MaximumThresholdLevel>
		<MinimumThresholdLevel>Disable</MinimumThresholdLevel>
	</SensorsSetting>
	<SensorsSetting>
		<SensorName>DCAMPERE</SensorName>
		<MinimumLevel>Minor</MinimumLevel>
		<MaximumLevel>Major</MaximumLevel>
		<MaximumThresholdLevel>Warning</MaximumThresholdLevel>
		<MinimumThresholdLevel>Minor</MinimumThresholdLevel>
	</SensorsSetting>
	<SensorsSettingMono>
		<SensorName>GAS</SensorName>
		<LevelName>Warning</LevelName>
	</SensorsSettingMono>
	<SensorsSettingMono>
		<SensorName>SMOKE</SensorName>
		<LevelName>Major</LevelName>
	</SensorsSettingMono>
	<SensorsSettingMono>
		<SensorName>MAGNET</SensorName>
		<LevelName>Warning</LevelName>
	</SensorsSettingMono>
	<SensorsSettingMono>
		<SensorName>MOTION</SensorName>
		<LevelName>Major</LevelName>
	</SensorsSettingMono>
	<SensorsSettingMono>
		<SensorName>WATER</SensorName>
		<LevelName>Major</LevelName>
	</SensorsSettingMono>
	<LevelColors>
		<LevelName>Disable</LevelName>
		<ColorName>gray</ColorName>
	</LevelColors>
	<LevelColors>
		<LevelName>Warning</LevelName>
		<ColorName>yellow</ColorName>
	</LevelColors>
	<LevelColors>
		<LevelName>Minor</LevelName>
		<ColorName>salmon</ColorName>
	</LevelColors>
	<LevelColors>
		<LevelName>Major</LevelName>
		<ColorName>brown</ColorName>
	</LevelColors>
	<LevelColors>
		<LevelName>Critical</LevelName>
		<ColorName>red</ColorName>
	</LevelColors>
	<TempratureTypeShow>Centigrade</TempratureTypeShow>
</ClientSettings>
